<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="ISO-8859-1">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script type="text/javascript">
	  /* var app = angular.module('myApp', []); */
	
	 /*  app.config(['$httpProvider', function($httpProvider) {
		  $httpProvider.defaults.useXDomain = true;
		  $httpProvider.defaults.withCredentials = true;
		  delete $httpProvider.defaults.headers.common["X-Requested-With"];
		  $httpProvider.defaults.headers.common["Accept"] = "application/json";
		  $httpProvider.defaults.headers.common["Content-Type"] = "application/json";
	    }
	]); */
	  
	 /*  app.controller('studentController', function($scope, $http) {
			//$scope.GetAllData = function() {
				$http.get("http://localhost:8080/api/students").then(
						function(response) {
							$scope.students = response.data;
						});
			//}
		});
	 */
</script>
<title>student details</title>
</head>
<body>
	 <div align="center" ng-controller="studentController">
		<!--  Search : <input type="text" id="id" name="id" placeholder="search"
			ng-model="id" /> <input type="button" ng-click="GetAllData()"
			value="click" /> --> 
		<div>
			<table width="500" 
				border="1">
				<caption>Student Details</caption>
				<tr>
					<th>Student ID</th>
					<th>Student Name</th>
					<th>Student Address</th>
					<th>Student Email</th>
					<th>Student telNo</th>
					
				</tr>
				<tr ng-repeat="s in students">
					<td>{{ s.id }}</td>
					<td>{{ s.name }}</td>
					<td>{{ s.address}}</td>
					<td>{{ s.email }}</td>
					<td>{{ s.telNo }}</td>
				</tr>
				
			</table>
		</div>
	</div> 
</body>
</html>